<!DOCTYPE html>
<html lang="pt-BR" xmlns:c="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Consultas Agendadas</title>
</head>
<body>
<h1>Lista de Consultas Agendadas</h1>
<table>
    <tr>
        <th>Nome do Pet</th>
        <th>Data da Consulta</th>
    </tr>
    <!-- Aqui você pode iterar sobre a lista de consultas e exibir cada uma como uma linha na tabela -->
    <c:forEach items="${consultas}" var="consulta">
        <tr>
            <td>${consulta.nomePet}</td>
            <td>${consulta.dataConsulta}</td>
        </tr>
    </c:forEach>
</table>
</body>
</html>
